<footer>
  <div class="container">
     <div class="row">
        <div class='col-md-4 col-sm-6 text-left'>
           <h2>Notre société de pompe à chaleur en résumé</h2>
           <p>Notre entreprise vous conseille, évalue, entretient, dépanne et installe des solutions de chauffage de type pompe à chaleur qui utilisent les énergies renouvelables.</p>
           <br>
           <ul class="social contact-wrapper">
              <li><a href='http://www.facebook.com/' target='_blank'><span class='fa fa-facebook fa-fw'></span></a></li>
              <li><a href='http://www.twitter.com/' target='_blank'><span class='fa fa-twitter fa-fw'></span></a></li>
           </ul>
           <br>
           <h2>Coordonnées</h2>
           <div class='contact-wrapper'>
              <i class="fa fa-phone"></i>
              <a href="tel:0189430787">01 89 43 07 87</a>
           </div>
           <div class='contact-wrapper'>
              <i class="fa fa-envelope-o"></i>
              <a href="mailto:contact@pompeachaleuressonne.fr">pro@novais-enr.fr</a>
           </div>
           <div class='contact-wrapper'>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>25 bis route de Chartres 91470 LIMOURS</span>
           </div>
           <br>
        </div>
        <div class='col-md-3 col-sm-6 text-left'>
           <h2>Liens utiles</h2>
           <ul class='list1'>
              <li><a class="active" href="{% link accueil.html %}">Accueil</a> </li>
              <li>
                 <a class="" href="novais-energies-renouvelables">Novais</a>
              </li>
              <li>
                 <a class="" href="nos-services">Nos services</a>
              </li>
              <li>
                 <a class="" href="nos-tarifs">Nos tarifs</a>
              </li>
              <li>
                 <a class="" href="nos-realisation">Nos réalisations</a>
              </li>
              <li>
                 <a class="" href="contact">Contact</a>
              </li>
              <li>
                 <a class="" href="devis">Devis</a>
              </li>
              <li>
                 <a class="" href="zone-intervention">Zone d'intervention</a>
              </li>
              <li>
                 <a class="" href="pompe-a-chaleur-villebon-sur-yvette">
                    Pompe à chaleur Villebon-sur-Yvette
                 </a>
              </li>
              <li>
                 <a class="" href="pompe-a-chaleur-bures-sur-yvette">
                    Pompe à chaleur Bures-sur-Yvette
                 </a>
              </li>
           </ul>
        </div>
        <div class='col-md-5 col-sm-12 text-left'>
           <h2>Contact</h2>
           <form role="form" method="post" action="#pre-contact" ><div class="row home-contact">
  <div class="col-sm-12">
     <div class="form-group has-feedback ">
        <input type="text" class="form-control " id="lastname" name="lastname" value="" placeholder="Nom">
                 </div>
  </div>
  <div class="col-sm-12">
     <div class="form-group has-feedback ">
        <input type="text" class="form-control " id="email" name="email" value="" placeholder="E-mail">
                 </div>
  </div>
  <div class="col-sm-12">
     <div class="form-group has-feedback ">
        <input type="text" name="phone" id="form_phone" value="" class="form-control" placeholder="Téléphone" >                     </div>
  </div>
  <div class='col-sm-12'>
     <div class="form-group has-feedback ">
        <textarea rows="6" name="message" class="form-control" id="message" placeholder='Message'></textarea>
     </div>
  </div>
</div>
<div class="div01"></div>
<div class="row ">
<div class="col-xs-12 text-center">
  <br>
  <button type='submit' name="precontact" class="button1">
     <span class='txt'>Envoyer</span>
  </button>
</div>
</div>
</form>            </div>
     </div>
  </div>
  <div class="text-center" id='bhinternet'>
     <!-- <a href="https://www.bhinternet.fr/" target="_blank">BHInternet - Création site internet | 2025 | </a> -->
     <a href="mentions-legales">Mentions légales</a>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha512-fHXRw0CXruAoINU11+hgqYvY/PcsOWzmj0QmcSOtjlJcqITbPyypc8cYpidjPurWpCnlB8VKfRwx6PIpASCUkQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js" integrity="sha512-h9kKZlwV1xrIcr2LwAPZhjlkx+x62mNwuQK5PAu9d3D+JXMNlGx8akZbqpXvp0vA54rz+DrqYVrzUGDMhwKmwQ==" crossorigin="anonymous"></script>
<script src="./assets/ressources/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/24b7f338c4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous"></script>
<!-- <script src="ressources/js/datepicker-locales/bootstrap-datepicker.fr.js" type="text/javascript"></script>
<script src="ressources/js/clockpicker.js" type="text/javascript"></script> -->
<script src="./assets/ressources/js/bxslider.min.js" type="text/javascript"></script>
<script src="./assets/ressources/js/wow.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous"></script>



<script src="./assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>