<header class="slider">
  <div class="top">
    <div class="container">
      <div class='row flex-middle'>
        <div class="col-sm-5">
          <div class='contact-wrapper'>
            <i class="fa fa-phone"></i>
            <a href="tel:0189430787"> 01 89 43 07 87</a>
          </div>
        </div>
        <div class="col-sm-5 hidden-xs">
          <div class='contact-wrapper'>
            <i class="fa fa-envelope-o"></i>
            <a href="mailto:contact@pompeachaleuressonne.fr">contact@pompeachaleuressonne.fr</a>
          </div>
        </div>
        <div class='col-sm-2 hidden-xs'>
          <ul class="social text-right">
            <li><a href='http://www.facebook.com/' target='_blank'><span class='fa fa-facebook fa-fw'></span></a></li>
            <li><a href='http://www.twitter.com/' target='_blank'><span class='fa fa-twitter fa-fw'></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id='menu' class="fixedNav">
    <div class="container">
      <div class="row flex-middle">
        <div class='col-sm-12 col-md-1 text-center'>
          <a href="{% link accueil.html %}">
            <div id='logo'>
              <img src="https://www.pompeachaleuressonne.fr/img/logo.png" class="img-responsive" alt='logo'>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-11">
          <nav class="">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul>
                <li><a class="active" href="{% link accueil.html %}">Accueil</a></li>
                <li><a class="" href="novais-energies-renouvelables">Novaïs</a></li>
                <li><a class="" href="nos-services">Nos services</a></li>
                <li><a class="" href="nos-tarifs">Tarifs</a></li>
                <li><a class="" href="nos-realisation">Nos réalisations</a></li>
                <li><a class="" href="devis">Devis</a></li>
                <li><a class="" href="contact">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div id='placeHolder'></div>
</header>