<div class="bandeau wow fadeIn" data-wow-duration="1s" data-wow-delay="0"
  style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
  <div class="container baseline">
    <div class="row middle">
      <div class="col-lg-12 text-left">
        <h1 class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1s"
          style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeIn;">Votre
          entreprise spécialisée<br>dans l'installation de<br>pompes à chaleur en Essonne</h1>
        <p class="slogan wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.2s"
          style="visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeIn;">
          Installateur de systèmes de chauffage</p>
      </div>
    </div>
  </div>
</div>
---
layout: default
permalink: /
title:
description:
keywords:
---


<div class="bgWhite">
  <div class="pre-reservation">
    <form role="form" method="post" action="#carousel-header" class="p20">
      <div class="row no-gutter noMargin flex1">
        <div class="col-md-2 col-sm-12 bgPrimary pointer">
          <h2><span>Devis</span> gratuit</h2>
        </div>
        <div class="col-md-2 col-sm-6 clabel">
          <div class="form-group has-feedback ">
            <div class="user ico2"></div>
            <input type="text" name="lastname" id="form_lastname" value="" class="form-control" placeholder="Nom">
          </div>
        </div>
        <div class="col-md-2 col-sm-6 clabel">
          <div class=" padl form-group has-feedback ">
            <div class="email ico2"></div>
            <input type="text" name="email" id="form_email" value="" class="form-control " placeholder="Email">
          </div>
        </div>
        <div class="col-md-2 col-sm-6 clabel">
          <div class="form-group has-feedback ">
            <div class="phone ico2"></div>
            <input type="text" name="phone" id="form_phone" value="" class="form-control" placeholder="Tél">
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group has-feedback ">
            <div class="question ico2"></div>
            <select name="subject" class="form-control" id="subject">
              <option>Prestation:</option>
              <option>Pompes à chaleur</option>
              <option>Géothermie / Aquathermie</option>
              <option>Énergie solaire</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <button type="submit" name="devis" class="button2">
            <span class="txt">Envoyer</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>