<!doctype html>
<html lang="fr">
{% include head.html %}

<body>
  {% include navbar.html %}

  {% if page.url == '/' %}
  {% include slider.html %}
  {% endif %}


  <div class="">
    {{ content }}
  </div>

  <div class="button-fix hidden-xs">
    <a href="tel:0189430787" class="button4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInUp;">
      <i class="fa fa-phone"></i>
      <span class="txt">01 89 43 07 87</span>
    </a>
  </div>

  <div class="backTotop active1">
    <a href="#">
    <i class="fa fa-angle-up"></i>
    </a>
  </div>

  {% include footer.html %}

</body>

</html>